name: Build and Release

on:
  push:
    branches: [ master ]
    tags:
      - 'v*'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set Permission
      run: chmod +x sources/buildscript.sh

    - name: Build
      run: cd sources && ./buildscript.sh
      
    - name: Archive artifacts
      uses: actions/upload-artifact@v3
      with:
        name: RWTS-PDFwriter.pkg
        path: RWTS-PDFwriter.pkg

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: RWTS-PDFwriter.pkg
